# Virtual Environments
aegis/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Anaconda
anaconda_projects/

# Tensorflow
*.h5

# Data
falldefi_dataset/
data/
*.csv
*.dat

# Hardware
esp-idf/

# Output
visualisations/*
reports/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# AI
GEMINI.md

# OS
.DS_Store
Thumbs.db
